<ul>
  <li> <%= @contact.name %> </li>
  <li> <%= @contact.contact_method %> </li>
  <li> Last contacted on: <%= @contact.last_contacted_on.strftime("%A, %B %-d") %> </li>
  <% if @contact.handle %>
    <li> Handle: <%= @contact.handle %> </li>
  <% end %>
  <% if @contact.phone? %>
    <li> Phone number: <%= number_to_phone(@contact.phone, area_code: true) if !@contact.phone.empty? %> </li>
  <% end %>
</ul>
<%= link_to "Edit Contact", edit_user_contact_path(@user.id, @contact) %>