<div class='header'>
  <% if user_signed_in? %>

    <div class='account'>
      <div class='name'>
        <%= current_user.name %>
      </div>
      <div class='edit-account'>
        <%= link_to "Edit Account", edit_user_registration_path %>
      </div>
    </div>

    <div class='main'>
      <h1> <%= link_to "Keep In Touch", root_url %> </h1>
    </div>

    <div class='account-mobile'>
      <%= current_user.name %>
      <%= link_to "Edit Account", edit_user_registration_path %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>

    <div class='signout'>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>

  <% else %>

    <h1> <%= link_to "Keep In Touch", root_url %> </h1>

    <div class='signin'>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>

  <% end %>
</div>
